body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
section{
    display: flex;
}
h1{
    font-size: 40px;
}
.half-width{
    width: 50%;
    padding: 50px;
}
.half-width img{
    width: 60%;
}
.orange-color{
    color: orange;
}
.link-button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(orange, yellow );
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}